<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Price</th>
						<th scope="col">Update At</th>
					</tr>
				</thead>
				<tbody>
					<% products.forEach((product) => { %>
						<tr>
							<td><%= product.prod_name %></td>
							<td><%= product.prod_desc %></td>
							<td><%= product.prod_price %></td>
							<td><%= product.updated_at %></td>
						</tr>
						<% }) %>
				</tbody>
			</table>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>